<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
           version="3.0">

    <servlet>
        <servlet-name>TestHTTPServer</servlet-name>
        <servlet-class>web.StudentInfoServlet</servlet-class>
        
        
        <!-- 
        robinid.ci4fwjnjiubu.ap-southeast-1.rds.amazonaws.com   robin  121518asd
        localhost  root  123456
        此处暴露了隐私信息给外界，如果在github上
        如何解决？
        
         -->
        <init-param>
        	<param-name>database_ip</param-name>
        	<param-value>localhost</param-value>
        </init-param>
        <init-param>
        	<param-name>database_user</param-name>
        	<param-value>root</param-value>
        </init-param>
        <init-param>
        	<param-name>database_password</param-name>
        	<param-value>123456</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestHTTPServer</servlet-name>
        <url-pattern>/httpServer</url-pattern>
    </servlet-mapping>
    
    
    
        <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>web.LoginServlet</servlet-class>
        </servlet>
            <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    
    
            <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>web.RegisterServlet</servlet-class>
        </servlet>
            <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
</web-app>
